:root {
  /* Colors */
  --primary-color: #5386b9;
  --secondary-color: #29648b;
  --text-light: #ffffff;
  --text-dark: #333333;
  --text-muted: #555555;
  --border-color: #dddddd;
  --btn-hover-color: #45a049;
  --shadow-color: rgba(0, 0, 0, 0.1);

  /* Font weights */
  --font-weight-reg: 400;
  --font-weight-md: 500;
  --font-weight-sb: 600;
  --font-weight-bd: 700;
}
