:root {
  /* Colors */
  --primary-color: #5386b9;
  --secondary-color: #29648b;
  --highlight-color: #3ce2e2;

  --text-light: #ffffff;
  --text-muted: #666666;
  --text-dark: #333333;

  --border-color: #cccccc;
  --placeholder-color: #9e9e9e;
  --card-color: #f8f8f8;
  --btn-hover-color: #45a049;
  --shadow-color: rgba(0, 0, 0, 0.1);

  /* Font weights */
  --font-weight-reg: 400;
  --font-weight-md: 500;
  --font-weight-sb: 600;
  --font-weight-bd: 700;
}
