.banner {
  height: 480px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light-color);
  padding-top: 4rem;
}

.bannerTitle {
  font-size: 4rem;
  font-weight: var(--font-weight-bd);
  margin-bottom: 1.2rem;
}

.bannerSubtitle {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

/* Por Que Adotar */
.porQueAdotar {
  margin-top: 3.5rem;
}

.porQueAdotar h2 {
  color: var(--dark-color);
  margin-bottom: 2rem;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  max-width: 600px;
  background-color: var(--light-color);
  border: 2px solid var(--highlight-color);
  box-shadow: 0 4px 6px var(--shadow-color);
  border-radius: 8px;
  text-align: center;
  padding: 2rem;
}

.card h3 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.card ul li {
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-reg);
  color: var(--dark-color);
}

.listItemIcon {
  color: var(--secondary-color);
  margin-right: 0.5rem;
}

/* Animais Disponíveis */
.animaisDisponiveis {
  margin: 3.5rem 0;
  padding: 0 1.25rem;
}

.animaisDisponiveis h2 {
  color: var(--dark-color);
  margin-bottom: 2rem;
}

.animaisGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.animalCard {
  background-color: var(--card-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
  overflow: hidden;
  width: calc(20% - 20px);
  text-align: center;
  padding-bottom: 1.125rem;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.animalCard img {
  width: 100%;
  height: auto;
}

.animalCard h3 {
  font-weight: var(--font-weight-md);
  margin: 0.625rem 0;
}

/* Informações Educativas */
.informacoesEducativas {
  background-color: var(--primary-color);
  border-radius: 8px 8px 0 0;
  padding: 2rem;
}

.informacoesEducativas h2 {
  color: var(--light-color);
  margin-bottom: 2rem;
}

.educacaoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.educacaoCard {
  background-color: var(--light-color);
  padding: 1rem;
  text-align: center;
  border: 2px solid var(--highlight-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.educacaoCard h3 {
  color: var(--dark-color);
  margin: 0.5rem 0;
}

.educacaoCard img {
  width: 60%;
  height: 20rem;
  object-fit: contain;
}

/* Contato */
.contato {
  background-color: var(--secondary-color);
  color: var(--light-color);
  text-align: center;
  border-radius: 0 0 8px 8px;
  padding: 2rem;
}

.contato h2 {
  font-weight: var(--font-weight-md);
  color: var(--light-color);
  text-align: center;
  margin-bottom: 2rem;
}

.formContato {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.formContato input {
  width: 100%;
  height: 44px;
  padding: 0.875rem;
  margin-bottom: 1.125rem;
}

.formContato textarea {
  width: 100%;
  height: 88px;
  padding: 0.875rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
  .educacaoGrid {
    margin-left: 2rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .card h3,
  .educacaoCard h3 {
    font-size: 1.3rem;
  }

  .card ul li,
  .educacaoCard p {
    font-size: 1rem;
  }

  .cards,
  .animaisGrid,
  .educacaoGrid {
    flex-direction: column;
    align-items: center;
  }

  .card,
  .animalCard,
  .educacaoCard {
    width: 90%;
    margin-bottom: 1rem;
  }
}
