/* Filter */
.filtro-container {
  position: fixed;
  background-color: var(--primary-color);
  padding: 4.25rem 2rem;
  height: 100vh;
  width: 18rem; /* Largura do filtro */
  z-index: 100;
}

.filtro-container h3 {
  color: var(--light-color);
  margin: 1rem 1rem;
  font-size: 1.5rem;
}

.filtro-container form {
  display: flex;
  flex-direction: column;
}

.filtro-container label {
  color: var(--light-color);
  font-weight: var(--font-weight-reg);
  margin-bottom: 1.8rem;
}

.filtro-container select,
.filtro-container input {
  width: 100%;
  padding: 0.8rem;
}

.pets-container ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 4rem 2rem;
  max-width: 80%;
  width: 100%;
  text-align: center;
  justify-items: center;
  margin: 7rem 0 3.5rem 20rem;
}

.pet-card {
  background-color: var(--card-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px var(--shadow-color);
  overflow: hidden;
  width: 20rem;
  border: 1px solid var(--border-color);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.pet-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.pet-info {
  padding: 1rem;
}

.pet-info h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.pet-info p {
  margin-top: 0.25rem;
  color: var(--dark-color);
  font-size: 1rem;
}

.pet-info button {
  margin-top: 1rem;
}
